@import url('//fonts.cdnfonts.com/css/billabong');
.myform{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
     }
.container{
    margin-top: 60px;
   }
       
body{
    /* background-image:url("../image/image.jpg"); */
    background-color: white;
    background-size: cover; /* permet de ne pas dubliquer l'image*/
    backdrop-filter: blur(3px);
    height:100vh;
   }
.logo h1{
    padding: 25px 0 0 5%;
   text-align: left;
   position: relative;
   color: #000000;
   font-size: 50px;
   font-family: "billabong", sans-serif;
   text-decoration: none;
}
/* .logo{
    border: 3px solid rgb(208, 1, 1);
    border-radius: 5%;
} */
